.TitleHead {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(31, 31, 31);
}

.Text {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    padding-left: 20vw;
    color: white;
}

.Box {
    background-color: rgb(75, 75, 75);
    display: flex;
}

.Box-Card {
    background-color: rgb(243, 243, 243);
    align-items: center;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
    margin: 30px;
    display: grid;
    border-radius: 25px;
    flex-shrink: 0;
    flex-grow: 0;
    padding-bottom: 35px;
    padding-top: 35px;
}


.Title {
    padding-top: 15px;
    padding-bottom: 20px;
}

img {
    filter: drop-shadow( 2px 14px 7px );
}

.Salat-Img1 {
    height: 200px;
}

.Salat-Img {
    height: 150px;
}