.TitleHead {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(31, 31, 31);
}

.Text {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    padding-left: 20vw;
    color: white;
}


.Title {
    padding-top: 15px;
    padding-bottom: 20px;
}

img {
    filter: drop-shadow( 2px 14px 7px );
}

.Salat-Img1 {
    height: 200px;
}

.Salat-Img {
    height: 150px;
}