.header {
    background-color: rgb(75, 75, 75);
    padding: 10px;
    display: flex;
    color: white;
}

.logo {
    padding-left: 5vw;
    padding-right: 5vw;
}

.links-container {
    display: flex;
    text-align: center;
}

.links {
    padding-right: 2.5vw;
    padding-left: 2.5vw;
}